@media (max-width: 1200px){
    h1{
        max-width: 85%;
    }

    .nav__list{
        gap: 60px;
    }

    .hero__slogan{
        max-width: 85%;
        margin-bottom: 70px;
    }

    .description__article{
        max-width: 95%;
    }

    .description__cards{
        flex-direction: column;
    }

    .description__item_big{
        min-height: 640px;
    }

    .description__text_white{
        max-width: 70%;
    }

    .questions__content{
        flex-direction: column;
    }

    .questions__text{
        max-width: 65%;
    }

    .footer__center{
        padding: 0;
        margin-right: 40px;
    }
}





@media (max-width: 1024px){

    h1{
        max-width: 100%;
    }

    main{
        padding-inline: 50px;
    }

    .logo{
        width: 150px;
    }

    .header__content{
        padding: 14px 50px;
    }


    .hero__content{
        max-width: 100%;
    }

    .hero__heading{
        font-size: 60px;
        margin-bottom: 16px;
        line-height: 130%;
    }

    .hero__slogan{
        font-size: 20px;
        max-width: 90%;
        margin-bottom: 60px;
    }

    .description__article{
        max-width: 100%;
    }

    .description__cards{
        flex-direction: column;
    }

    .description__item_big{
        min-height: 630px;
    }

    .descriprion__big_card{
        max-height: 30%;
        align-items: center;
    }


    .stages__descr{
        max-width: calc(50% - 25px);
    }

    .questions__content{
        flex-direction: column;
    }

    .questions__title{
        max-width: 100%;
    }

    .questions__text{
        max-width: 95%;
    }

    .footer{
        justify-content: flex-start;
    }

    .footer__content{
        flex: 0 0 calc(100% - 100px);
        padding: 50px;
        justify-content: space-between;
    }

    .footer__center{
        padding: 0;
        margin: 0;
        flex: 0 0 63%;
    }

    .footer__right{
        display: none;
    }

  
}



@media (max-width: 768px){
    .logo{
        max-width: 110px;
    }

    .header__content{
        padding: 14px 50px;
    }

    .nav__list{
        gap: 40px;
    }

    .nav__link{
        font-weight: 700;
        font-size: 16px;
    }

    .hero__content{
        padding-inline: 40px;

    }
    

    .hero__heading{
        font-size: 50px;
        margin-bottom: 16px;
    }

    .hero__slogan{
        font-size: 18px;
        max-width: 100%;
    }

    .descriprion__big_card{
        align-items: center;
    }

    .description__text_white{
        max-width: 67%;
    }

    .description__item{
        background-size: 114px;
        padding: 35px 0 35px 0;
    }

    .description__item img{
        max-width: 114px;
        margin-inline: 40px 16px;
    }

    .description__text{
        max-width: 88%;
    }

    .stages__content{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .stages__descr{
        max-width: 100%;
    }

    .stages__image{
        margin-bottom: 38px;
    }

    .footer{
        display: flex;
        justify-content: flex-start;
        flex: 0 0 calc(100% - 100px);
        min-height: 800px;
    }

    .footer__content{
        flex-direction: column-reverse;
        flex: 0 0 75%;
    }

    .footer__list{
        display: none;
    }

    .footer__img{
        max-width: 224px;
    }

    .footer__left{
        justify-content: center;
    }

    .footer__content{
        padding: 50px 0 0 50px;
    }


}

@media (max-width: 576px){


    h3{
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }

    .section__title{
        font-weight: 400;
        font-size: 24px;
        color: #000;
    }

    .main  article{
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: #000;
    }


    .header__content{
        position: relative;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 16px 16px;
        padding: 17px 5px 40px 15px;
        display: flex;
        flex-direction: column;
    }

    .header__nav{
        justify-content: center;
    }

    .nav__item:last-child{
        position: absolute;
        padding-top: 17px;
        padding-right: 5px;
        right: 0;
        top: 0;
    }

    .nav__list{
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        gap: 0;
    }


    .nav__link{
        gap: 24px;
        font-size: 13px;
    }

    body{
        background-color: #fff;
    }

    .main{
        padding-inline: 15px;
    }

    .hero__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 20px;
    }

    .hero__heading{
        font-weight: 800;
        font-size: 20px;
        text-align: center;
        color: #fff;
        line-height: 150%;
    }

    .hero__slogan{
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: #fff;
        margin-bottom: 32px;
    }

    .hero__button{
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: #fff;
        padding: 13px 28px;
        border-radius: 8px;
    }

    .description__article{
        margin-bottom: 14px;
    }

    .description__cards{
        margin-bottom: 60px;
    }

    .description__item{
        flex-direction: column;
        padding: 0;
        gap: 12px;
        border: none;
    }

    .description__item img{
        max-width: 64px;
        margin: 0;

    }

    .big_image{
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }

    .description__title{
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }

    .description__text{
        max-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: #000;
        text-align: left;
    }

    .description__item_big{
        background-image: none;
        flex-direction: column;
        min-height: 300px;
    }

    .descriprion__big_card{
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        border-radius: 0;
        background-color: #fff;
    }

    .descriprion__big_card p{
        max-width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        color: #000;
        margin-bottom: 12px;
    }

    .description__btn{
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: #f90;
        padding: 12px 44px;
        transition: color 0.3s ease-in-out;
    }

    .description__btn:hover{
        color: #fff;
    }

    .stages__content{
        margin-bottom: 60px;
    }

    .stages__heading{
        margin-bottom: 20px;
    }

    .stages__image{
        border-radius: 16px;
    }

    .stages__title{
        font-weight: 500;
        font-size: 18px;
        line-height: 178%;
        color: #000;
    }

    .stages__btn{
        display: flex;
    }

    .stages__btn_left{
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        padding: 12px 44px;
        margin-right: 10px;
    }

    .stages__btn_right{
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #000;
        border-radius: 8px;
        padding: 12px 32px;
    }

    .questions__content{
        gap: 32px;
    }

    .questions_item{
        padding: 0;
        border: none;
    }

    .questions__title{
        margin-bottom: 4px;
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }

    .questions__text{
        max-width: 100%;
    }

    .footer{
        display: block;
        min-height: 680px;
    }

    .footer__content{
        padding: 30px 15px;
        flex: 0 0 100%;
        background-color: #000;
    }


    .form__title{
        font-weight: 400;
        font-size: 24px;
        color: #cacaca;
    }

    .form__button{
        flex-direction: column;
        margin-bottom: 25px;
    }

    .form_btn{
        border-radius: 8px;
        border: none;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
        color: #fff;
        padding: 12px 19px;
        margin: 0;
    }

    .footer__left{
        align-items: center;
    }

    .footer__left img{
        max-width: 130px;
        margin-bottom: 16px;
    }

    .footer__img{
        gap: 16px;
    }

    .footer_icon svg{
        max-width: 40px;
    }


}
